# Week3 Pair Programming Solutions

## Friday

The data file supermarket_sales.csv for this exercise is located in the Canvas Files tab within the Module 2 Folder and finally in Week3 Folder.

Question 1
Read the `supermarket_sales.csv` file into Pandas and assign it to a variable named `df`

In [ ]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv')
df.head(1)

Question 2
Is df a Series or DataFrame?

In [ ]:
type(df)

Question 3
How many columns and rows are within the df?

In [ ]:
# Answer #1
df.shape
print('rows', df.shape[0])
print('columns', df.shape[1])

In [ ]:
# Answer #2 
(rows, columns) = df.shape
print(rows)
print(columns)

Question 4
How many of each dtype is contained within the df ?

In [ ]:
# Answer 1 - Manually count the dtypes
df.dtypes

In [ ]:
# Answer 2 - Use value_counts
df.dtypes.value_counts()

Question 5
Write df to an excel file

In [ ]:
# df.to_excel('pair_exercise.xlsx', engine='openpyxl')

# Saturday

# Pair Programming #1
The above code, created a csv file named "salary.csv".  It represents the yearly salary for different positions at Virtual University, books (by id) they have read, and the number of years of experience they have.

1. Import the salary data into a pandas DataFrame

In [ ]:
import pandas as pd
salary = pd.read_csv('salary.csv')
salary.head()

2. There is one book that has been read by several people.  Extract all rows with that book.

In [ ]:
salary.book_id.value_counts()

In [ ]:
salary[salary.book_id == 101]

3. Add a new row and column to the DataFrame( Just make up any data that you like)

In [ ]:
salary['car'] = ['mazda', 'mercedes', 'buick', 'subaru', 'tesla', 'ford']
salary.loc[6] = ['Jim', 20, 123, 238000, 20, 'range rover']
salary

In [ ]:
salary

4. Filter the data set for people with less than 5 years experience but make more than \\$30,000 (None is a valid answer)

In [ ]:
salary[(salary['experience'] < 5) & (salary['money'] > 30000)]

5. Change index to 1,3,5,7,9,10,12 and filter and return the row with index 9

In [ ]:
salary.index = [1,3,5,7,9,10,12]

In [ ]:
salary

In [ ]:
salary.iloc[4] # salary.loc[9]

# Pair Programming #2
# Pair Programming
Congratulations!  After making through Week 3, I wanted to award you with a exciting challenge.  You have been given the title of Junior Data Analyst for a board/card game company called 'High-Five Games'.  Their most successful fantasy card game 'Monsters under my bed'. The company would like you to produce a report the converts the player purchasing data into meaningful insights.

Use your pandas skills to answer the following questions.
All data is contained within monster_trading_cards.csv

## Number of Players
* What is the total number of unique players(user_name)

In [ ]:
game = pd.read_csv('monster_trading_cards.csv')

In [ ]:
game.head()

In [ ]:
# There are 110 unique users
game.user_name.nunique()

## Calculate Totals
* Number of Unique Monsters
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [ ]:
# Number of Unique Monsters
game.monster_card.nunique()

In [ ]:
# Average Purchase Price
game.price.mean() # game.price.mean().round(2)

In [ ]:
# Total Number of Purchases
game.shape[0]

In [ ]:
# Total Revenue
game.price.sum() #game.price.sum().round(2)

## Breakdown the Gender Demographics
* % and number of males
* % and number of females
* % and number of non-disclosed

In [ ]:
# number
game.gender.value_counts()

In [ ]:
# percentage
game.gender.value_counts(normalize=True)

## Purchases by men
* number of purchases
* Average Purchase Price
* Total Purchase amount

In [ ]:
men = game[game['gender'] == 'male']
print('number of purchases: ', men.shape[0])
print('average purchase price: ', men.price.mean())
print('total purchase amount: ', men.price.sum())