In [18]:
import pandas as pd

In [20]:
data = pd.read_csv('../data/iris.csv')

In [23]:
data_df = pd.DataFrame(data=[["a", 1, 5.0], ["b", 2, 10.0]],
                                     columns=["letter", "integer", "float"])

In [49]:
data.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [73]:
data.groupby("Species").min()

            Sepal Length  Sepal Width  Petal Length  Petal Width
Species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [ ]:
all_files = ['/desktop/folder1/file1.csv', '/desktop/folder2/file2.csv']

li = [] # contains Dataframes

for filename in all_files:
    df = pd.read_excel(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
#writeto 
frame.to_excel('path/to/final/location/fina.xlsx')